.display-mobile-menu {
    display: none;
    min-height: 64px;
    background: #535353;
}

header.display-desktop-menu {
    display: none;
}

.position-logo {
    position: absolute;
    left: 2em;
}

.display-mobile-menu div {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

img.size-img-menu {
    width: 50%;
}

.backgroundIndex {
    background-image: url('../img/index.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.margin-logo {
    margin-right: 3em;
}

.logo-bar {
    height: 3.5rem;
}

p.text-primary {
    color: #000;
}

body p {
    text-align: justify;
}

.contenedorBienvenida {
    min-height: 40vh;
}

.flex-column-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.MuiAppBar-colorPrimary.bg-app-bar {
    background-color: #535353;
}

/*
    Barrita debajo de las opciones
*/
span.MuiTabs-indicator {
    background-color: #5cff0c;
}

button.bg-verde-radioactivo {
    background-color: #5cff0c;
}

button.bg-verde-radioactivo:hover {
    background-color: #4DCA0F;
}

button.bg-verde-radioactivo {
    color: #000;
}

.background-historia-main {
    background-image: url('../img/bannerHistoria.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.background-historia-1 {
    background-image: url('../img/bannerHistoria_1.jpg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.background-historia-2 {
    background-image: url('../img/sinco.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.background-historia-3 {
    background-image: url('../img/teamNexura.jpg');
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.size-50 {
    width: 50%;
}

.size-80 {
    width: 80%;
}

.size-100 {
    width: 100%;
}

/* Right*/
p, div.icon-align-footer-r {
    text-align: right;
}

/*Middle*/
p, div.icon-align-footer-m {
    text-align: center;
}

/*Left*/
p, div.icon-align-footer-l {
    text-align: left;
}

div.espaciado-top-buttons-footer {
    margin-top: 8px;
}

a.margin-l-1 {
    margin-left: 1em;
}

div.margin-l-2-5 {
    margin-left: 2.5em;
}

a.margin-l-negative-1 {
    margin-left: -1em;
}

div.color-facebook {
    color: #306EFF;
}

div.color-linkedIn {
    color: #0073b1;
}

img.size-gmail-icon {
    width: 1.6em;
}

img.size-instagram-icon {
    width: 1.6em;
}

/*
    Colores de las barras de progreso
*/

/*Color claro*/
div.bg-rojo-progress {
    background-color: #FF8888;
}

/*Color oscuro*/
div.bg-rojo-progress > div {
    background-color: #FF1919;
}

/*Color claro*/
div.bg-azul-progress {
    background-color: #79A1FF;
}

/*Col oscuro*/
div.borg-azul-progress > div {
    background-color: #306EFF;
}

/*Color claro*/
div.bg-verde-progress {
    background-color: #84FF87;
}

/*Color oscuro*/
div.bg-verde-progress > div {
    background-color: #57EA5A;
}

/*Color claro*/
div.bg-amarillo-progress {
    background-color: #F0FF73;
}

/*Color oscuro*/
div.bg-amarillo-progress > div {
    background-color: #E9FE3A;
}

/*Color claro*/
div.bg-naranja-progress {
    background-color: #FFCF7B;
}

/*Color oscuro*/
div.bg-naranja-progress > div {
    background-color: #FF9523;
}


/*
Media query's
 */

@media (max-width: 1200px) {

    .display-mobile-menu {
        display: flex;
        position: sticky;
        justify-content: flex-end;
        top: 0;
    }

    .backgroundIndex {
        min-height: calc(100vh / 3);
    }

    .background-historia-main {
        min-height: calc(100vh / 3);
    }

    .background-historia-1 {
        min-height: calc(100vh / 2);
        background-size: contain;
    }

    .background-historia-2 {
        min-height: calc(100vh / 1.5);
        background-size: contain;
    }

    .background-historia-3 {
        min-height: calc(100vh / 3);
        background-size: contain;
    }

    div.margin-l-1 {
        margin-left: 1em;
    }

    a.margin-l-negative-1 {
        margin-left: -0.4em;
    }

    div.margin-l-2-5 {
        margin-left: -0.4em;
    }
}

@media (min-width: 1200px) {

    header.display-desktop-menu {
        display: block;
    }

    .backgroundIndex {
        min-height: 60vh;
    }

    .background-historia-main {
        min-height: 60vh;
    }

    .background-historia-1 {
        min-height: calc(100vh / 2);
    }

    .background-historia-2 {
        min-height: 70vh
    }

    .background-historia-3 {
        min-height: 80vh;
    }
}

@media (min-width: 1400px) {
    .backgroundIndex {
        min-height: 100vh;
    }

    .background-historia-main {
        min-height: 100vh;
    }

    .background-historia-1 {
        min-height: calc(100vh / 2);
    }

    .background-historia-2 {
        min-height: 70vh;
    }

    .background-historia-3 {
        min-height: 80vh;
    }
}

